@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Room>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="room-content content-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Want to create or join a room?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-controller="Room" asp-action="Create"><button type="button" class="btn btn-primary cj-btn">Create</button></a>
                <a asp-controller="Room" asp-action="Join"><button type="button" class="btn btn-primary cj-btn">Join</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container separate-div menu-div">
    <div class="row">
        <div class="col">
            <input class="my-input" type="text" placeholder="Find a room..."/>
        </div>
        <div class="col-2">
            <div class="dropdown">
                <p hidden id="direction">1</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a id="created-joined" class="dropdown-item" href="#" onclick="return false;">Created / Joined</a>
                    @* <a id="last-updated" class="dropdown-item" href="#" onclick="return false;">Last updated</a>   *@
                    <a id="name" class="dropdown-item" href="#" onclick="return false;">Name</a>                                      
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">Add</button>
        </div>
    </div>
</div>

<div class="container room-holder">

@foreach (var item in Model)
{
    <div class="container separate-div">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-8 room-content"><p class="room-name">@item.Name</p></div>
                    <div class="col room-content">
                        @if (item.Admin.Email == ViewBag.CurrentUser)
                        {
                            <p class="admin-name">Admin: me</p>
                        }
                        else
                        {
                            <p class="admin-name">Admin: @item.Admin.Name @item.Admin.Surname</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col room-content"><p>Organization: @item.Company</p></div>
                            <div class="col room-content"><p>Number of participants: @item.Users.Count()</p></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col illustration">
                            @if (item.Private)
                            {
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            }
                            else
                            {
                                <ion-icon name="lock-open-outline"></ion-icon>
                            }
                            </div>
                            <div class="col illustration">
                            @if (item.Hidden)
                            {
                                <ion-icon name="eye-off-outline"></ion-icon>
                            }
                            else
                            {
                                <ion-icon name="eye-outline"></ion-icon>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col room-content room-activity">цщуц</div>
                    <div class="col room-content room-activity">цщуц</div>
                    <div class="col room-content room-activity">цщуц</div>
                </div>
                <div class="row">
                    <div class="col room-content room-activity">цщуц</div>
                </div>
            </div>
        </div>
    </div>
}
</div>