@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Room>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="content-div content-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Want to create or join a room?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-controller="Room" asp-action="Create"><button type="button" class="btn btn-primary cj-btn">Create</button></a>
                <a asp-controller="Room" asp-action="Join"><button type="button" class="btn btn-primary cj-btn">Join</button></a>
            </div>
        </div>
    </div>
</div>

<div class="container separate-div menu-div">
    <div class="row">
        <div class="col">
            <input class="my-input search-input" type="text" placeholder="Find a room..."/>
        </div>
        <div class="col-2">
            <div class="dropdown">
                <p hidden id="direction">1</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a id="created-joined" class="dropdown-item" href="#" onclick="return false;">Created / Joined</a>
                    @* <a id="last-updated" class="dropdown-item" href="#" onclick="return false;">Last updated</a>   *@
                    <a id="name" class="dropdown-item" href="#" onclick="return false;">Name</a>                                      
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModalCenter">Add</button>
        </div>
    </div>
</div>

<div class="container room-holder">

@foreach (var item in Model)
{
    <a asp-controller="Room" asp-action="Content" asp-route-id=@item.Id>
    <div class="container separate-div">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-8 content-div"><p class="room-name">@item.Name</p></div>
                    <div class="col content-div">
                        @if (item.Admin.Email == ViewBag.CurrentUser)
                        {
                            <p class="admin-name">Admin: me</p>
                        }
                        else
                        {
                            <p class="admin-name">Admin: @item.Admin.Name @item.Admin.Surname</p>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col content-div"><p>Organization: @item.Company</p></div>
                            <div class="col content-div"><p>Number of participants: @item.RoomUsers.Count()</p></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row">
                            <div class="col illustration">
                            @if (item.Private)
                            {
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            }
                            else
                            {
                                <ion-icon name="lock-open-outline"></ion-icon>
                            }
                            </div>
                            <div class="col illustration">
                            @if (item.Hidden)
                            {
                                <ion-icon name="eye-off-outline"></ion-icon>
                            }
                            else
                            {
                                <ion-icon name="eye-outline"></ion-icon>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                @{ int index = 0; }
                @foreach (var queue in item.Queues)
                {
                    if (index % 2 == 0)
                    {
                        @Html.Raw("<div class=\"row\">");
                    }
                    <div class="col content-div room-activity">
                        <p>Queue "@queue.Name" (Start: @queue.StartAt.ToString("dd.MM.yyyy") at @queue.StartAt.ToString("HH:mm"))</p>
                    </div>
                    if (index % 2 != 0)
                    {
                        @Html.Raw("</div>");
                    }
                    index++;
                }
                @if (index % 2 != 0)
                {
                    @Html.Raw("</div>");
                }
            </div>
        </div>
    </div>
    </a>
}
</div>