@{
    ViewData["Title"] = "Activities";
}

@model Cua.ViewModels.ActivitiesModel

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <p id="got-id" hidden></p>
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="content-div content-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Want to join a queue?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addQueue" type="button" class="btn btn-primary yn-btn">Yes</button>
                <button type="button" class="btn btn-secondary yn-btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <p id="got-id-alternative" hidden></p>
        <div class="modal-content separate-div modal-div">
            <div class="modal-header my-appointment-modal-header">
                <p id="start-date" hidden></p>
                <p id="end-date" hidden></p>
                <div class="row">
                    <div class="my-input-holder col">
                        <input type="text" id="datepicker" class="my-input" placeholder="Pick a date" readonly/>
                    </div>
                </div>
            </div>
            <div class="modal-body my-appointment-modal-header">
                <div class="row">
                    <div class="col my-input-holder">
                        <select id="available-time" class="my-input"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="make-an-appointment" type="button" class="btn btn-primary yn-btn">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-container">
    <div class="row">
        <div class="aling-self-start col-3 criteria-div">
            <div class="row">
                <div class="separate-div col">
                    <a asp-action="Content" asp-controller="Room" asp-route-id=@ViewContext.RouteData.Values["id"]>
                        <button type="button" class="btn btn-primary my-back-btn">Back</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="separate-div">
                    <input id="room-cri" class="my-input criteria-input" type="text" placeholder="Activity name"/>
                    <div class="checkbox-holder">
                        <input id="queue-remove" class="activity-radio" type="radio" name="activity-type"/><label>Only timetables</label>
                    </div>
                    <div class="checkbox-holder">
                        <input id="timetable-remove" class="activity-radio" type="radio" name="activity-type"/><label>Only queues</label>
                    </div>
                    <div class="checkbox-holder">
                        <input id="everything-on-screen" class="activity-radio" type="radio" name="activity-type"/><label>Everything</label>
                    </div>
                </div>
            </div>
            </br>
            <div class="row">
                <div class="separate-div separate-div-no-col">
                    <div class="content-div my-content-label-div"><p>Participants:</p></div>
                </div>
                <div id="participants-list" class="separate-div-no-col">
                </div>
            </div>
        </div>
        <div id="items-holder" class="flex-fill ml-5">
        @foreach (var item in Model.Queues)
        {
            <div class="separate-div room-for-join-div container">
                <p id="queueId-@item.Id" class="hidden-p" hidden>@item.Id</p>
                <div class="row">
                    <div class="col-2 content-div my-content-label-div"><p>Queue</p></div>
                    <div class="col content-div"><p class="room-name">@item.Name</p></div>
                    @if (item.Creator == Model.CurrentUser)
                    {
                        <div class="col-3 join-btn-holder">
                        @if (item.Active)
                        {
                            <button class="btn btn-danger join-room-btn change-active-status">Stop</button>
                        }
                        else
                        {
                            <button class="btn btn-primary join-room-btn change-active-status">Start</button>
                        }  
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col content-div company-name"><p>Number of participants: </p><p class="num-of-participants">@item.QueueUsers.Count()</p></div>
                    <div class="col content-div"><p>Limit: @item.Limit</p></div>
                    <div class="col-3 join-btn-holder">
                        <button class="btn btn-primary join-room-btn show-participants-btn"> Show all participants</button>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col content-div"><p>Start: @item.StartAt.ToString("dd.MM.yyyy") at @item.StartAt.ToString("HH:mm")</p></div>
                    <div class="col content-div"><p class="admin-name">Creator: @item.Creator.Name @item.Creator.Surname</p><br/></div>
                    <div class="col-3 join-btn-holder">
                        @if (item.QueueUsers.Any(qu => qu.User == Model.CurrentUser))
                        {
                            <button class="btn btn-danger join-room-btn leave-queue-btn">Leave</button>
                            <button class="btn btn-primary join-room-btn id-giver join-queue-btn" data-toggle="modal" data-target="#exampleModalCenter" style="display: none;">Join</button>
                        }
                        else
                        {
                            <button class="btn btn-danger join-room-btn leave-queue-btn" style="display: none;">Leave</button>
                            @if (item.Limit != 0 && item.Limit == item.QueueUsers.Count())
                            {
                                <button class="btn btn-primary join-room-btn id-giver join-queue-btn" data-toggle="modal" data-target="#exampleModalCenter" disabled>Join</button>
                            }
                            else
                            {
                                <button class="btn btn-primary join-room-btn id-giver join-queue-btn" data-toggle="modal" data-target="#exampleModalCenter">Join</button>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model.Timetables)
        {
            <div class="separate-div room-for-join-div container">
                <p id="queueId-@item.Id" class="hidden-p" hidden>@item.Id</p>
                <div class="row">
                    <div class="col-2 content-div my-content-label-div"><p>Timetable</p></div>
                    <div class="col content-div"><p class="room-name">@item.Name</p></div>
                </div>
                <div class="row">
                    <div class="col-7 content-div"><p>Appointment is available from @item.StartDate.ToString("dd.MM.yyyy") to @item.EndDate.ToString("dd.MM.yyyy")</p></div>
                    <div class="col content-div company-name"><p>Creator: @item.Creator.Name @item.Creator.Surname</p></div>
                </div>
                <div class="row">
                    @if (item.Appointments.Any(a => a.UserId != null && a.UserId == Model.CurrentUser.Id))
                    {
                        <div class="col-7 content-div">
                            <p class="own-appointment">Your appointment: @item.Appointments.FirstOrDefault(a => a.UserId == Model.CurrentUser.Id).StartAt.ToString("dd.MM.yyyy HH:mm")</p>
                            <p class="available-appointments" style="display: none;">Number of available appointments: @{ int i = item.Appointments.Where(a => a.IsAvailable).Count() + 1; } @i</p>
                        </div>
                        <div class="col join-btn-holder">
                            <button class="btn btn-danger join-room-btn cancel-appointment">Cancel an appointment</button>
                            <button class="btn btn-primary join-room-btn show-appointment-modal" data-toggle="modal" data-target="#appointmentModal" style="display: none;" >Make an appointment</button>
                        </div>
                    }
                    else
                    {
                        <div class="col-7 content-div">
                            <p class="available-appointments">Number of available appointments: @item.Appointments.Where(a => a.IsAvailable).Count()</p>
                            <p class="own-appointment" style="display: none;"></p>
                        </div>
                        <div class="col join-btn-holder">
                            @if (item.CreatorId == Model.CurrentUser.Id)
                            {
                                <button class="btn btn-primary join-room-btn" disabled>Make an appointment</button>
                            }
                            else
                            {
                                <button class="btn btn-primary join-room-btn show-appointment-modal" data-toggle="modal" data-target="#appointmentModal">Make an appointment</button>
                                <button class="btn btn-danger join-room-btn cancel-appointment" style="display: none;">Cancel an appointment</button>
                            }
                        </div>
                    }
                </div>
            </div>
        }
        </div>
    </div>
</div>

<script src="~/js/date.js" asp-append-version="true"></script>