@{
    ViewData["Title"] = "Room page";
}

@model Cua.Models.Room

<div class="modal fade" id="queueControlModal" tabindex="-1" role="dialog" aria-labelledby="queueControlModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="content-div content-modal-header">
                    <h5 class="modal-title" id="queueControlModalTitle">Queue control</h5>
                </div>
            </div>
            <div class="modal-body">
                <button id="remove-first-user" type="button" class="btn btn-primary">Remove first user</button><br/>
            </div>
            <div class="modal-footer">
                <p id="queue-id" hidden></p>
                <div id="my-queue-members"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-content-div-container">
    <div class="row">
        <div class="col">
            <div class="separate-div separate-div-no-col">
                <div class="content-div my-content-label-div"><p>Participants:</p></div>
            </div>
            <div class="separate-div separate-div-no-col">
                <div class="content-div my-participant-div"><p>@Model.Admin.Name @Model.Admin.Surname (A)</p></div>
                @foreach (var item in Model.RoomUsers)
                {
                    if (item.IsModerator)
                    {
                        <div class="content-div my-participant-div"><p>@item.User.Name @item.User.Surname (M)</p></div>
                    }
                    else
                    {
                        <div class="content-div my-participant-div"><p>@item.User.Name @item.User.Surname</p></div>
                    }
                }
            </div>
        </div>
        <div class="col-5">
            <div class="separate-div">
                <div class="row">
                    <div class="col-7 content-div"><p>@Model.Name</p></div>
                    <div class="col content-div"><p>@Model.Company</p></div>
                </div>
                <div class="row">
                    <div class="col content-div"><p>@Model.About</p></div>
                </div>
            </div>
            <div class="separate-div">
                <div class="row">
                    <div class="col-6 my-show-queues-btn-holder">
                        <a asp-action="Queues" asp-controller="Room" asp-route-id=@Model.Id><button type="button" class="btn btn-primary my-qs-btn">View all queues</button></a>
                    </div>
                    @if (ViewBag.CurrentUser == Model.Admin || Model.RoomUsers.Where(ru => ru.IsModerator).Any(ru => ru.User == ViewBag.CurrentUser))
                    {
                        <div class="col-6 my-show-queues-btn-holder">
                            <a asp-action="Control" asp-controller="Room" asp-route-id=@Model.Id><button type="button" class="btn btn-primary my-qs-btn">Control panel</button></a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            <div class="separate-div separate-div-no-col">
                <div class="content-div my-content-label-div"><p>Active queues:</p></div>
            </div>
            <div class="separate-div separate-div-no-col">
                @foreach (var item in Model.Queues)
                {
                    if (item.Active)
                    {
                        <div class="content-div my-participant-div">
                            <p>@item.Name</p>
                            <p id="user-count-@item.Id" class="my-user-count">(@item.QueueUsers.Count())</p>
                            @if (item.Creator == ViewBag.CurrentUser)
                            {
                                <p class="queue-id" hidden>@item.Id</p>
                                <a class="queue-control" href="#" onclick="return false;" data-toggle="modal" data-target="#queueControlModal">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </a>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>