@model IEnumerable<Room>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <p id="got-id" hidden></p>
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="room-content content-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Want to join a room?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addRoom" type="button" class="btn btn-primary yn-btn">Yes</button>
                <button type="button" class="btn btn-secondary yn-btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-container">
<div class="row">
    <div class="aling-self-start col-3 separate-div criteria-div">
        <div class="room-content criteria-header"><p>Search criteria</p></div>
        <input id="room-cri" class="my-input criteria-input" type="text" placeholder="Room name"/>
        <input id="admin-cri" class="my-input criteria-input" type="text" placeholder="Admin name"/>
        <input id="company-cri" class="my-input criteria-input" type="text" placeholder="Company name"/>
        <div class="checkbox-holder">
            <input id="private-checkbox" type="checkbox"/><label>Only private rooms</label>
        </div>
    </div>
    <div id="room-for-join-holder" class="flex-fill ml-5">
    @foreach (var item in Model)
    {
        @if (!item.Hidden)
        {
        <div class="separate-div room-for-join-div">
            <p id="roomId-@item.Id" class="hidden-p" hidden>@item.Id</p>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1 illustration">
                        @if (item.Private)
                        {
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        }
                        else
                        {
                            <ion-icon name="lock-open-outline"></ion-icon>
                        }
                        </div>
                        <div class="col room-content"><p class="room-name">@item.Name</p></div>
                        <div class="col-4 room-content">
                            <p class="admin-name">Admin: @item.Admin.Name @item.Admin.Surname</p><br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col room-content"><p>Что-то</p></div>
                        <div class="col room-content"><p>Кто-то</p></div>
                    </div>
                    <div class="row">
                        <div class="col room-content"><p>Что-то</p></div>
                        <div class="col room-content"><p>Кто-то</p></div>
                    </div>
                    <div class="row">
                        <div class="col room-content company-name"><p>Organization: @item.Company</p></div>
                        <div class="col room-content"><p>Number of participants: @item.Users.Count()</p></div>
                        <div class="col join-btn-holder"><button class="btn btn-primary join-room-btn" data-toggle="modal" data-target="#exampleModalCenter">Join</button></div>
                    </div>
                </div>
            </div>
        </div>
        }
    }
    </div>
</div>
</div>