@model IEnumerable<Room>

<div class="modal fade" id="roomJoinModal" tabindex="-1" role="dialog" aria-labelledby="roomJoinTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <p id="got-id" hidden></p>
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="content-div content-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Want to join a room?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addRoom" type="button" class="btn btn-primary yn-btn">Yes</button>
                <button type="button" class="btn btn-secondary yn-btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="privateRoomJoinModal" tabindex="-1" role="dialog" aria-labelledby="privateRoomJoinTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <p id="got-id-for-request" hidden></p>
        <div class="modal-content separate-div modal-div">
            <div class="modal-header">
                <div class="content-div content-modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Want to send a request for join?</h5>
                </div>
            </div>
            <div class="modal-body">
                <input id="comment-input" type="text" class="my-input" placeholder="Leave a comment for room admin" />
            </div>
            <div class="modal-footer">
                <button id="sendRequest" type="button" class="btn btn-primary yn-btn">Yes</button>
                <button type="button" class="btn btn-secondary yn-btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="container my-container">
<div class="row">
    <div class="aling-self-start col-3 separate-div criteria-div">
        <div class="content-div criteria-header"><p>Search criteria</p></div>
        <input id="room-cri" class="my-input criteria-input" type="text" placeholder="Room name"/>
        <input id="admin-cri" class="my-input criteria-input" type="text" placeholder="Admin name"/>
        <input id="company-cri" class="my-input criteria-input" type="text" placeholder="Company name"/>
        <div class="checkbox-holder">
            <input id="private-checkbox" type="checkbox"/><label>Only private rooms</label>
        </div>
    </div>
    <div id="room-for-join-holder" class="flex-fill ml-5">
    @{ List<Request> requests = ViewBag.Requests; }
    @foreach (var item in Model)
    {
        @if (!item.Hidden)
        {
        <div class="separate-div room-for-join-div">
            <p id="roomId-@item.Id" class="hidden-p" hidden>@item.Id</p>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-1 illustration">
                        @if (item.Private)
                        {
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        }
                        else
                        {
                            <ion-icon name="lock-open-outline"></ion-icon>
                        }
                        </div>
                        <div class="col content-div"><p class="room-name">@item.Name</p></div>
                        <div class="col-4 content-div">
                            <p class="admin-name">Admin: @item.Admin.Name @item.Admin.Surname</p><br/>
                        </div>
                    </div>
                    @{ int index = 0; }
                    @foreach (var queue in item.Queues)
                    {
                        if (index % 2 == 0)
                        {
                            @Html.Raw("<div class=\"row\">");
                        }
                        <div class="col content-div my-joinable-room-activity">
                            <p>Queue "@queue.Name"</p>
                        </div>
                        if (index % 2 != 0)
                        {
                            @Html.Raw("</div>");
                        }
                        index++;
                    }
                    @if (index % 2 != 0)
                    {
                        @Html.Raw("</div>");
                    }
                    @* <div class="row">
                        <div class="col content-div"><p>Что-то</p></div>
                        <div class="col content-div"><p>Кто-то</p></div>
                    </div>
                    <div class="row">
                        <div class="col content-div"><p>Что-то</p></div>
                        <div class="col content-div"><p>Кто-то</p></div>
                    </div> *@
                    <div class="row">
                        <div class="col content-div company-name"><p>Organization: @item.Company</p></div>
                        <div class="col content-div"><p>Number of participants: @item.RoomUsers.Count()</p></div>
                        @if (item.Private)
                        {
                            if (requests.Any(r => r.Room == item && r.Checked == false))
                            {
                                <div class="col join-btn-holder"><button class="btn btn-primary join-room-btn" data-toggle="modal" data-target="#privateRoomJoinModal" disabled>Join</button></div>
                            }
                            else
                            {
                                <div class="col join-btn-holder"><button class="btn btn-primary join-room-btn" data-toggle="modal" data-target="#privateRoomJoinModal">Join</button></div>
                            }
                        }
                        else
                        {
                            <div class="col join-btn-holder"><button class="btn btn-primary join-room-btn" data-toggle="modal" data-target="#roomJoinModal">Join</button></div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    }
    </div>
</div>
</div>